[submodule "dd-agent"]
	path = agent
	url = https://github.com/haiyuanhe/dd-agent
	branch = master
[submodule "integrations-core"]
	path = integrations
	url = https://github.com/haiyuanhe/integrations-core.git
	branch = master
